button {
    font-family: $font-family-primary;
    font-size: 1.5rem;
    font-weight: $font-weight-regular;
    border-radius: 5px;
    border: 0;
    border-bottom: 3px solid $persianPink;
    background-color: $illusion;
    appearance: none;
    padding: 15px 25px;
    color: $outerSpace;
    cursor: pointer;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px $outerSpace, 0 0 0 5px rgba($illusion, .5);
    }
    &:active {
        border-bottom: 0;
        margin-top: 3px;
    }
}