input[type="text"],
input[type="number"] {
    appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 3px solid $persianPink;
    color: $illusion;
    font-family: $font-family-secondary;
    font-size: 1.875rem;
    font-weight: $font-weight-regular;
    padding: 10px 15px;
    text-align: center;
    transition: .3s all;
    border-radius: 3px;

    &:active {
        outline: 0;
        border-color: $marzipan;
    }
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px $outerSpace, 0 0 0 5px rgba($illusion, .5);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
